@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply h-full p-0 m-0 text-text_black;
}

h1 {
	@apply text-4xl font-bold;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

/* 首頁 -「我要點燈」按鈕，不是Header上的！ */
.light-btn:hover {
	animation: light-btn 0.7s ease-in-out both;
}

@keyframes light-btn {
	0% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
	25% {
		transform: rotate(3deg) translate3d(0, 0, 0);
	}
	50% {
		transform: rotate(-3deg) translate3d(0, 0, 0);
	}
	75% {
		transform: rotate(1deg) translate3d(0, 0, 0);
	}
	100% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
}

/* 夜空背景 */
#stars-background-container {
	@apply z-0 h-screen;
}
/*stars-background-animation*/
@-webkit-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}
@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-webkit-keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 10000px 0;
	}
}
@keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 10000px 0;
	}
}

.stars,
.twinkling,
.clouds {
	@apply absolute left-0 block w-full h-full top-36 sm:top-[72px];
}

.stars {
	background: #283253 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png') repeat top center;
	z-index: -3;
}

.twinkling {
	background: transparent url('https://i.imgur.com/fUsesao.png') repeat top center;
	opacity: 80%;
	z-index: -2;
	-webkit-animation: move-twink-back 200s linear;
	animation: move-twink-back 200s linear;
}

.clouds {
	background: transparent url('https://i.imgur.com/KYJdAQm.png') repeat top center;
	opacity: 12%;
	z-index: -1;
	-webkit-animation: move-clouds-back 300s linear;
	animation: move-clouds-back 300s linear;
}

/* 開發團隊 - 成員卡片組件 */
.card-group {
	@apply flex flex-wrap justify-center mx-auto space-x-4 text-left xl:space-x-8;
}

.card-group .card {
	@apply w-full px-6 py-8 shadow-lg xl:w-[22%] lg:w-[36%] md:w-[45%] sm:w-[42%];
}

.card-group .card .card-img {
	@apply object-cover object-center w-full h-56 rounded xl:h-40;
}

.card-group .card .back {
	@apply hidden;
}

.card-group .card:hover .card-img {
	@apply hidden;
}

.card-group .card:hover .back {
	@apply block h-56 leading-relaxed duration-75 xl:h-40;
	animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-left {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/* 首頁寺廟SVG */

#banner-temple {
	display: block;
	margin: 0 auto;
	fill: none;
	stroke: #222;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.wall {
	fill: #ede4c6;
}

.windows .window-red {
	stroke: #e40b12;
}

.floor line {
	stroke: #e40b12;
}

.floor rect {
	fill: #e40b12;
}

.columns rect {
	fill: #e40b12;
	width: 10px;
}

.roof {
	fill: #736357;
}

.lamp {
	&.lamp-yellow {
		fill: #fbc926;
	}
	&.lamp-red {
		fill: #e40b12;
	}
}

.base {
	animation: animate-scale-X 10s alternate both;
	transform-origin: 50% 0;
}

.windows {
	animation: animate-slide-up 10s ease-in alternate both;
}

.columns {
	animation: animate-slide-up 10s ease-in alternate both;
}

.wall {
	animation: animate-slide-up 6s ease-in alternate both;
}

.floor {
	animation: animate-fall-down 10s ease-in alternate;
}

.roof {
	animation: animate-fall-down 12s ease-in alternate;
}

.wall-top {
	animation: animate-fall-down 10s ease-in alternate;
}

.balcony {
	animation: animate-fall-down 10s ease-in alternate;
}

.floor-top {
	animation: animate-fall-down 10s ease-in alternate;
}

.roof-top {
	animation: animate-fall-down 12s ease-in alternate;
}

.lamp {
	animation: animate-grow-down 16s ease-in alternate both;
}

.animation-pendulum {
	animation: pendulum 1.5s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	transform-origin: 50% top;
}

.animation-delayed-1 {
	animation-delay: 0.2s;
}

.animation-delayed-2 {
	animation-delay: 0.5s;
}

@keyframes animate-scale-X {
	from {
		transform: scaleX(1);
	}
	0.1%,
	5% {
		transform: scaleX(0);
	}
	to,
	30% {
		transform: scaleX(1);
	}
}

@keyframes animate-slide-up {
	from {
		transform: translateY(0);
	}
	0.1%,
	8% {
		transform: translateY(105%);
	}
	to,
	28% {
		transform: translateY(0);
	}
}

@keyframes animate-fall-down {
	from {
		transform: translateY(0);
	}
	0.1%,
	18% {
		transform: translateY(-1000%);
	}
	21% {
		transform: translateY(-2px);
	}
	22% {
		transform: translateY(0);
	}
	23% {
		transform: translateY(-1px);
	}
	24%,
	to {
		transform: translateY(0);
	}
}

@keyframes animate-grow-down {
	from {
		transform: scaleY(1) translateY(0);
	}
	0.1%,
	10% {
		transform: scaleY(0) translateY(-100%);
	}
	15%,
	to {
		transform: scaleY(1) translateY(0);
	}
}

@keyframes pendulum {
	0% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(-2deg);
	}
}

/* 首頁Banner標題 */

#banner-title {
	@apply hidden text-[145px] tracking-wide font-black text-primary_yellow md:block lg:text-[198px] xl:text-[215px] xl:tracking-widest;
}

#banner-title #股 {
	@apply relative -top-[265px] lg:-top-[365px] xl:-top-[370px];
}

#banner-title #市 {
	@apply relative -top-[265px] lg:-top-[365px] xl:-top-[370px] -z-10;
}

#banner-title #光 {
	@apply relative -top-[345px] delay-1000 lg:-top-[457px] xl:-top-[470px] text-white;
	background: linear-gradient(120deg, #ffdc62 30%, #ffe791 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(0px 0px 5px #fff7dc) drop-shadow(0px 0px 10px #fff1c1);
	animation: slide-bottom 3s ease-in-out;
}

@keyframes slide-bottom {
	0%,
	30% {
		top: -500px;
		opacity: 0%;
	}
	100% {
		top: -470px;
		opacity: 100%;
	}
}

#banner-title #明 {
	@apply relative -top-[265px] lg:-top-[365px] xl:-top-[370px] -z-10;
}

#banner-title #燈 {
	@apply relative -top-[265px] lg:-top-[365px] xl:-top-[370px];
}
