@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply h-full p-0 m-0 text-text_black;
}

h1 {
	@apply text-4xl font-bold;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

/* 首頁 -「我要點燈」按鈕，不是Header上的！ */
.light-btn:hover {
	animation: light-btn 0.7s ease-in-out both;
}

@keyframes light-btn {
	0% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
	25% {
		transform: rotate(3deg) translate3d(0, 0, 0);
	}
	50% {
		transform: rotate(-3deg) translate3d(0, 0, 0);
	}
	75% {
		transform: rotate(1deg) translate3d(0, 0, 0);
	}
	100% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
}

/* 開發團隊 - 成員卡片組件 */
.card-group {
	@apply flex flex-wrap justify-center mx-auto mb-24 space-x-4 xl:space-x-8;
}

.card-group .card {
	@apply w-full px-6 py-8 shadow-lg xl:w-[22%] lg:w-[36%] md:w-[45%] sm:w-[42%];
}

.card-group .card .card-img {
	@apply object-cover object-center w-full h-40 rounded;
}

.card-group .card .back {
	@apply hidden;
}

.card-group .card:hover .card-img {
	@apply hidden;
}

.card-group .card:hover .back {
	@apply block duration-75;
	animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-left {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
