@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply box-border p-0 m-0;
}
html,
body {
	@apply max-w-[100vw] overflow-x-hidden text-zinc-800 dark:text-zinc-100;
}
h1 {
	@apply text-4xl font-bold;
}
h2 {
	@apply text-3xl font-bold;
}
h3 {
	@apply text-2xl font-medium;
}
h4 {
	@apply text-xl;
}
h5 {
	@apply text-lg;
}
a {
	@apply no-underline text-inherit;
}
hr {
	@apply dark:border-zinc-600;
}

.container {
	@apply w-full max-w-full min-h-screen p-0 m-0;
}

/* 天燈css */
.lantern {
	display: flex;
	perspective: 500px;
	height: 150px;
	width: 180px;
	animation: rise 3s ease-in-out;
}
.lantern:hover {
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 0 150px -20px #ffc404;
}
.lanterntag_container {
	position: relative;
}
.lanterntag_container:hover .laterntag {
	opacity: 1;
}

.laterntag {
	background-color: #333;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 10px;
	position: absolute;
	opacity: 0;
}

.laternlight {
	transform: translate(60%, 50%);
	height: 80px;
	width: 80px;
	position: absolute;
	border-radius: 50%;
	background: #fbc926;
	box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fbc926, 0 0 70px #fbc926, 0 0 80px #fbc926,
		0 0 100px #fbc926, 0 0 150px #fbc926;
	animation: blink 5s ease-in-out infinite;
}

.right {
	opacity: 0.9;
	background: #fbc926;
	height: 160px;
	width: 100px;
	transform: rotateY(400deg) translateX(-14px);
}

.left {
	opacity: 0.9;
	background: #fbc926;
	height: 160px;
	width: 100px;
	transform: rotateY(137deg) translateX(-20px) scaleY(0.98);
}

/* 閃光動畫 */
@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

/* 天燈內部火焰動畫 */
.flame {
	opacity: 0.7;
	left: 40%;
	bottom: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	background: linear-gradient(-45deg, red, orange);
	border-radius: 150px 150px 0px 150px;
	transform: rotate(-135deg);
	animation: 0.1s flame infinite;
	filter: blur(10px);
	box-shadow: 17px 20px 90px #700;
	border-left-width: 25px;
	border-top-width: 25px;

	&:after,
	&:before {
		content: '';
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		background: linear-gradient(-45deg, red, orange);
		animation: 0.2s flame infinite;
		transform: scale(0.8) rotate(20deg);
		border-radius: 100px 100px 0px 100px;
		top: 20px;
	}

	&:before {
		top: 0;
		animation-duration: 0.09s;
		transform: scale(0.9) rotate(-15deg) translate(10px, 0px);
	}
}

@keyframes flame {
	0% {
		height: 20px;
		width: 20px;
	}

	50% {
		height: 30px;
		width: 30px;
	}

	100% {
		height: 20px;
		width: 20px;
	}
}

/* 上升動畫 */
@keyframes rise {
	0% {
		transform: translateY(350px);
	}

	100% {
		transform: translateY(0px);
	}
}

/* 漂浮動畫 */
.float {
	animation-name: Floating;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes Floating {
	from {
		-webkit-transform: translate(0, 0px);
	}

	65% {
		-webkit-transform: translate(0, 15px);
	}

	to {
		-webkit-transform: translate(0, 0px);
	}
}

/* 天燈位置 */
.lanternone {
	position: absolute;
	top: 500px;
}

.lanterntwo {
	position: absolute;
	left: 500px;
	top: 200px;
}

.lanternthree {
	position: absolute;
	left: 350px;
	top: 250px;
	scale: 0.7;
}

.lanternfour {
	position: absolute;
	right: 0px;
	top: 120px;
}

.lanternfive {
	position: absolute;
	right: 200px;
	top: 150px;
	scale: 0.7;
}

.lanternsix {
	position: absolute;
	right: 400px;
	top: 400px;
	scale: 0.75;
}

.lanternseven {
	position: absolute;
	right: 180px;
	top: 450px;
}

.lanterneight {
	position: absolute;
	left: 50px;
	top: 230px;
}

.lanternnight {
	position: absolute;
	right: 370px;
	top: 140px;
	scale: 0.85;
}

.lanternten {
	position: absolute;
	left: 430px;
	top: 460px;
}

.lanterneleven {
	position: absolute;
	left: 210px;
	top: 80px;
}

.lanterntwelve {
	position: absolute;
	left: 200px;
	top: 480px;
	scale: 0.8;
}

.lanternthirteen {
	position: absolute;
	right: 6px;
	top: 320px;
	scale: 0.6;
}

.lanternforteen {
	position: absolute;
	right: -50px;
	top: 500px;
	scale: 0.8;
}

.lanternfifteen {
	position: absolute;
	left: -50px;
	top: 55px;
	scale: 0.75;
}

/* MUI css */

/* tab bg css */
.css-1ujnqem-MuiTabs-root {
	@apply bg-white rounded dark:bg-zinc-800 !important;
}

/* tab text css */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
	@apply dark:text-zinc-100 hover:bg-secondary_blue/10 !important;
}

/* selected tab text css */
.Mui-selected {
	@apply text-sky-500 dark:text-secondary_blue !important;
}

/* tab indicator css */
.css-1aquho2-MuiTabs-indicator {
	@apply py-[2.8px] bg-secondary_blue dark:bg-secondary_blue !important;
}

/* checkBox css */
.css-i4bv87-MuiSvgIcon-root {
	@apply dark:text-zinc-200/80 !important;
}

/* ... css */
.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
	@apply text-secondary_blue !important;
}

/* border css */
.css-1iyq7zh-MuiDataGrid-columnHeaders,
.MuiDataGrid-withBorderColor {
	@apply dark:border-zinc-500 !important;
}

/* footer css */
.css-wop1k0-MuiDataGrid-footerContainer {
	@apply hidden !important;
}

/* 移除點選後的 outline */
.MuiDataGrid-columnHeader,
.MuiDataGrid-cell {
	@apply focus:outline-none !important;
}

/* pagination items css */
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
	@apply dark:text-zinc-100 hover:bg-primary_yellow/30 !important;
}

/* selected paginatio item css */
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
	@apply bg-primary_yellow/80 dark:bg-primary_yellow dark:text-zinc-800 !important;
}

/* outlined select input css */
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
	@apply bg-white dark:bg-zinc-800 text-sm dark:text-zinc-100 !important;
}
#expMonth.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
#expYear.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
	@apply bg-white dark:text-zinc-800 !important;
}

/* svg icon in select input css */
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
	@apply dark:text-zinc-100 !important;
}

/* outlined input css */
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root,
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root,
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
	@apply dark:bg-zinc-50;
}

/* radio button css */
.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
	@apply dark:text-zinc-200;
}
