@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply box-border p-0 m-0;
}
html,
body {
	@apply max-w-[100vw] overflow-x-hidden text-zinc-800 dark:text-zinc-100;
}
h1 {
	@apply text-4xl font-bold;
}
h2 {
	@apply text-3xl font-bold;
}
h3 {
	@apply text-2xl font-medium;
}
h4 {
	@apply text-xl;
}
h5 {
	@apply text-lg;
}
a {
	@apply no-underline text-inherit;
}

.container {
	@apply w-full max-w-full min-h-screen p-0 m-0;
}

/* 最新消息中分頁按鈕css */
.MuiButtonBase-root,
.MuiPaginationItem-root {
	@apply dark:text-zinc-100 !important;
}

.MuiPaginationItem-circular.Mui-selected {
	@apply bg-primary_yellow/80 dark:bg-primary_yellow dark:text-zinc-800 !important;
}

.MuiPaginationItem-circular {
	@apply hover:bg-primary_yellow/30 !important;
}

.MuiPaper-root .MuiButtonBase-root .MuiSvgIcon-root {
	@apply text-zinc-400 hover:text-zinc-800 !important;
}

.MuiPaper-root .MuiList-root a .MuiButtonBase-root {
	@apply text-zinc-800 !important;
}

/* 天燈css */
.lantern {
	display: flex;
	perspective: 500px;
	height: 150px;
	width: 180px;
	animation: rise 3s ease-in-out;
}
.lantern:hover {
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 0 150px -20px #ffc404;
}

.laternlight {
	transform: translate(60%, 50%);
	height: 80px;
	width: 80px;
	position: absolute;
	border-radius: 50%;
	background: #fbc926;
	box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fbc926, 0 0 70px #fbc926, 0 0 80px #fbc926,
		0 0 100px #fbc926, 0 0 150px #fbc926;
	animation: blink 5s ease-in-out infinite;
}

.right {
	opacity: 0.9;
	background: #fbc926;
	height: 160px;
	width: 100px;
	transform: rotateY(400deg) translateX(-14px);
}

.left {
	opacity: 0.9;
	background: #fbc926;
	height: 160px;
	width: 100px;
	transform: rotateY(137deg) translateX(-20px) scaleY(0.98);
}

/* 閃光動畫 */
@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

/* 天燈內部火焰動畫 */
.flame {
	opacity: 0.7;
	left: 40%;
	bottom: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	background: linear-gradient(-45deg, red, orange);
	border-radius: 150px 150px 0px 150px;
	transform: rotate(-135deg);
	animation: 0.1s flame infinite;
	filter: blur(10px);
	box-shadow: 17px 20px 90px #700;
	border-left-width: 25px;
	border-top-width: 25px;

	&:after,
	&:before {
		content: '';
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		background: linear-gradient(-45deg, red, orange);
		animation: 0.2s flame infinite;
		transform: scale(0.8) rotate(20deg);
		border-radius: 100px 100px 0px 100px;
		top: 20px;
	}

	&:before {
		top: 0;
		animation-duration: 0.09s;
		transform: scale(0.9) rotate(-15deg) translate(10px, 0px);
	}
}

@keyframes flame {
	0% {
		height: 20px;
		width: 20px;
	}

	50% {
		height: 30px;
		width: 30px;
	}

	100% {
		height: 20px;
		width: 20px;
	}
}

/* 上升動畫 */
@keyframes rise {
	0% {
		transform: translateY(350px);
	}

	100% {
		transform: translateY(0px);
	}
}

/* 漂浮動畫 */
.float {
	animation-name: Floating;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes Floating {
	from {
		-webkit-transform: translate(0, 0px);
	}

	65% {
		-webkit-transform: translate(0, 15px);
	}

	to {
		-webkit-transform: translate(0, 0px);
	}
}

/* 天燈位置 */
.lanternone {
	position: absolute;
	top: 500px;
}

.lanterntwo {
	position: absolute;
	left: 500px;
	top: 200px;
}

.lanternthree {
	position: absolute;
	left: 350px;
	top: 250px;
	scale: 0.7;
}

.lanternfour {
	position: absolute;
	right: 0px;
	top: 120px;
}

.lanternfive {
	position: absolute;
	right: 200px;
	top: 150px;
	scale: 0.7;
}

.lanternsix {
	position: absolute;
	right: 400px;
	top: 400px;
}

.lanternseven {
	position: absolute;
	right: 180px;
	top: 450px;
}

.lanterneight {
	position: absolute;
	left: 50px;
	top: 230px;
}

.lanternnight {
	position: absolute;
	right: 370px;
	top: 140px;
}

.lanternten {
	position: absolute;
	left: 430px;
	top: 460px;
}

.lanterneleven {
	position: absolute;
	left: 210px;
	top: 80px;
}

.lanterntwelve {
	position: absolute;
	left: 200px;
	top: 480px;
	scale: 0.8;
}
