@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply box-border p-0 m-0;
	}
	html,
	body {
		@apply max-w-[100vw] overflow-x-hidden text-zinc-800 dark:text-zinc-100;
	}
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}
	h5 {
		@apply text-lg;
	}
	a {
		@apply no-underline text-inherit;
	}
}

.container {
	@apply w-full max-w-full min-h-screen p-0 m-0;
}

/* 首頁 -「我要點燈」按鈕，不是Header上的！ */
.light-btn:hover {
	animation: light-btn 0.7s ease-in-out both;
}

@keyframes light-btn {
	0% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}

	25% {
		transform: rotate(3deg) translate3d(0, 0, 0);
	}

	50% {
		transform: rotate(-3deg) translate3d(0, 0, 0);
	}

	75% {
		transform: rotate(1deg) translate3d(0, 0, 0);
	}

	100% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
}

/* 首頁寺廟SVG */
#banner-temple {
	display: block;
	margin: 0 auto;
	fill: none;
	stroke: #222;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.wall {
	fill: #ede4c6;
}

.windows .window-red {
	stroke: #e40b12;
}

.floor line {
	stroke: #e40b12;
}

.floor rect {
	fill: #e40b12;
}

.columns rect {
	fill: #e40b12;
	width: 10px;
}

.roof {
	fill: #736357;
}

.lamp {
	&.lamp-yellow {
		fill: #fbc926;
	}

	&.lamp-red {
		fill: #e40b12;
	}
}

.base {
	animation: animate-scale-X 10s alternate both;
	transform-origin: 50% 0;
}

.windows {
	animation: animate-slide-up 10s ease-in alternate both;
}

.columns {
	animation: animate-slide-up 10s ease-in alternate both;
}

.wall {
	animation: animate-slide-up 6s ease-in alternate both;
}

.floor {
	animation: animate-fall-down 10s ease-in alternate;
}

.roof {
	animation: animate-fall-down 12s ease-in alternate;
}

.wall-top {
	animation: animate-fall-down 10s ease-in alternate;
}

.balcony {
	animation: animate-fall-down 10s ease-in alternate;
}

.floor-top {
	animation: animate-fall-down 10s ease-in alternate;
}

.roof-top {
	animation: animate-fall-down 12s ease-in alternate;
}

.lamp {
	animation: animate-grow-down 16s ease-in alternate both;
}

.animation-pendulum {
	animation: pendulum 1.5s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	transform-origin: 50% top;
}

.animation-delayed-1 {
	animation-delay: 0.2s;
}

.animation-delayed-2 {
	animation-delay: 0.5s;
}

@keyframes animate-scale-X {
	from {
		transform: scaleX(1);
	}

	0.1%,
	5% {
		transform: scaleX(0);
	}

	to,
	30% {
		transform: scaleX(1);
	}
}

@keyframes animate-slide-up {
	from {
		transform: translateY(0);
	}

	0.1%,
	8% {
		transform: translateY(105%);
	}

	to,
	28% {
		transform: translateY(0);
	}
}

@keyframes animate-fall-down {
	from {
		transform: translateY(0);
	}

	0.1%,
	18% {
		transform: translateY(-1000%);
	}

	21% {
		transform: translateY(-2px);
	}

	22% {
		transform: translateY(0);
	}

	23% {
		transform: translateY(-1px);
	}

	24%,
	to {
		transform: translateY(0);
	}
}

@keyframes animate-grow-down {
	from {
		transform: scaleY(1) translateY(0);
	}

	0.1%,
	10% {
		transform: scaleY(0) translateY(-100%);
	}

	15%,
	to {
		transform: scaleY(1) translateY(0);
	}
}

@keyframes pendulum {
	0% {
		transform: rotate(2deg);
	}

	100% {
		transform: rotate(-2deg);
	}
}

@keyframes slide-bottom {
	0%,
	30% {
		top: -500px;
		opacity: 0%;
	}

	100% {
		top: -470px;
		opacity: 100%;
	}
}

#banner-title #明 {
	@apply relative -top-[265px] lg:-top-[365px] xl:-top-[370px] -z-10;
}

#banner-title #燈 {
	@apply relative -top-[265px] lg:-top-[365px] xl:-top-[370px];
}

/* 夜空背景 */
#stars-background-container {
	@apply relative z-0 w-full;
}

.stars,
.twinkling,
.clouds {
	@apply absolute top-0 left-0 w-full;
	height: 100%;
}

.stars {
	background: #283253 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png') repeat top center;
	z-index: -3;
}

.twinkling {
	background: transparent url('https://i.imgur.com/fUsesao.png') repeat top center;
	opacity: 80%;
	z-index: -2;
	-webkit-animation: move-twink-back 200s linear;
	animation: move-twink-back 200s linear;
}

.clouds {
	background: transparent url('https://i.imgur.com/KYJdAQm.png') repeat top center;
	opacity: 12%;
	z-index: -1;
	-webkit-animation: move-clouds-back 300s linear;
	animation: move-clouds-back 300s linear;
}

/*stars-background-animation*/
@-webkit-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -10000px 5000px;
	}
}

@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -10000px 5000px;
	}
}

@-webkit-keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 10000px 0;
	}
}

@keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 10000px 0;
	}
}

.card-group {
	@apply flex flex-wrap justify-center mx-auto space-x-4 text-left xl:space-x-8;
}

.card-group .card {
	@apply w-full px-2 pt-4 pb-8 xl:w-[22%] lg:w-[36%] md:w-[45%] sm:w-[42%];
}

.card-group .card img {
	@apply object-cover object-center w-full h-64;
}

.card-group .card:hover img {
	@apply hidden;
}

.card-group .card .back {
	@apply hidden;
}

.card-group .card:hover .back {
	@apply block h-40 leading-relaxed duration-75;
	animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-left {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.MuiButtonBase-root,
.MuiPaginationItem-root {
	@apply dark:text-zinc-100 !important;
}

.MuiPaginationItem-circular.Mui-selected {
	@apply bg-primary_yellow/80 dark:bg-primary_yellow dark:text-zinc-800 !important;
}

.MuiPaginationItem-circular {
	@apply hover:bg-primary_yellow/30 !important;
}

.MuiPaper-root .MuiButtonBase-root .MuiSvgIcon-root {
	@apply text-zinc-400 hover:text-zinc-800 !important;
}

.MuiPaper-root .MuiList-root a .MuiButtonBase-root {
	@apply text-zinc-800 !important;
}

/* 天燈css */
.lantern {
	display: flex;
	perspective: 500px;
	height: 150px;
	width: 180px;
}

.laternlight {
	transform: translate(60%, 50%);
	height: 80px;
	width: 80px;
	position: absolute;
	border-radius: 50%;
	background: #fbc926;
	box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fbc926, 0 0 70px #fbc926, 0 0 80px #fbc926,
		0 0 100px #fbc926, 0 0 150px #fbc926;
	animation: blink 5s ease-in-out infinite;
}

.right {
	opacity: 0.9;
	background: #fbc926;
	height: 160px;
	width: 100px;
	transform: rotateY(400deg) translateX(-14px);
}

.left {
	opacity: 0.9;
	background: #fbc926;
	height: 160px;
	width: 100px;
	transform: rotateY(137deg) translateX(-20px) scaleY(0.98);
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.flame {
	opacity: 0.7;
	left: 40%;
	bottom: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	background: linear-gradient(-45deg, red, orange);
	border-radius: 150px 150px 0px 150px;
	transform: rotate(-135deg);
	animation: 0.1s flame infinite;
	filter: blur(10px);
	box-shadow: 17px 20px 90px #700;
	border-left-width: 25px;
	border-top-width: 25px;

	&:after,
	&:before {
		content: '';
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		background: linear-gradient(-45deg, red, orange);
		animation: 0.2s flame infinite;
		transform: scale(0.8) rotate(20deg);
		border-radius: 100px 100px 0px 100px;
		top: 20px;
	}

	&:before {
		top: 0;
		animation-duration: 0.09s;
		transform: scale(0.9) rotate(-15deg) translate(10px, 0px);
	}
}

@keyframes flame {
	0% {
		height: 20px;
		width: 20px;
	}

	50% {
		height: 30px;
		width: 30px;
	}

	100% {
		height: 20px;
		width: 20px;
	}
}

@keyframes rise {
	0% {
		transform: translateY(350px);
	}
	100% {
		transform: translateY(0px);
	}
}

.lanternone {
	position: absolute;
	top: 500px;
	animation: rise 3s ease-in-out;
}
.lanterntwo {
	position: absolute;
	left: 500px;
	top: 200px;
	animation: rise 3s ease-in-out;
}
.lanternthree {
	position: absolute;
	left: 350px;
	top: 250px;
	animation: rise 3s ease-in-out;
}
.lanternfour {
	position: absolute;
	right: 0px;
	top: 120px;
	animation: rise 3s ease-in-out;
}
.lanternfive {
	position: absolute;
	right: 200px;
	top: 150px;
	animation: rise 3s ease-in-out;
}
.lanternsix {
	position: absolute;
	right: 400px;
	top: 400px;
	animation: rise 3s ease-in-out;
}
.lanternseven {
	position: absolute;
	right: 180px;
	top: 450px;
	animation: rise 3s ease-in-out;
}
.lanterneight {
	position: absolute;
	left: 50px;
	top: 230px;
	animation: rise 3s ease-in-out;
}
.lanternnight {
	position: absolute;
	right: 370px;
	top: 140px;
	animation: rise 3s ease-in-out;
}
.lanternten {
	position: absolute;
	left: 430px;
	top: 460px;
	animation: rise 3s ease-in-out;
}
